
<%# <h1 id="andre">Test</h1> %>

<form accept-charset="UTF-8" action="/articles/new" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓" /><input name="authenticity_token" type="hidden" value="lltuS9krcq8mW/Zm3j8f8SR7rTbkqdc7pWMfQZEUQtc=" /></div>
            <div>
                <p>
                    <label class="form label" for="id_customer">Title</label><br>
                    <input required type = "number" class="form" id="article_title" name="article[title]" type="number" />
                </p>
            </div>
            <%# <p>
                        <input name="commit" type="submit" value="Save Article" />
            </p> %>
</form>

<body>
    <h1 id=="test-title">Hello</h1>
        <div class="customer-form">
            <label class="form label" for="customer-ID"> Customer ID number </label>
            <input required type = "number" class="form" id="customer-ID">
        </form>
    </div>
    <div class="REST_response">

</body>